body{
    background-color: lightslategray;
    background-image: url("../static/images/pattern.png");
    background-size: 85px;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.bookcover{
    background-color: rgb(60, 175, 180);
    border-radius: 10px;
    border: 3px solid lightslategray;

    width: 1000px;
    height: 700px;

    margin: 150px 500px;

    position: relative;

}
.bookdot{
    position: absolute;
    margin: 13px;
    border: 3px dashed white;

    width: 970px;
    height: 670px;
}
.page{
    margin: 10px;
    width: 950px;
    height: 650px;
    border-radius: 10px;
    background-color: lightsteelblue;

}
.contanier{
    width: 930px;
    height: 630px;
    margin: 10px;
    display: flex;
}
.column1{
    display: flex;
    flex: 0.3;
    flex-direction: column;
}
.row1{
    flex: 1;
    background-color: white;
    margin: 10px 20px 10px 10px;
    padding: 15px 15px 10px 15px;
    border-radius: 10px;
    border: 2px solid lightsteelblue;
}
#image{
    margin: 0px 5px;
}
p{
    color: cornflowerblue;
    text-align: center;
    font-family: 'WandohopeR';
}
.row2{
    flex: 1;
    background-color: white;
    margin: 10px 0px;
    border-radius: 10px;
    border: 2px solid lightsteelblue;
}
.column3{
    flex: 0.1;
    margin: 10px 10px 10px 0px;
    border: 2px solid black;
}
.text-box{
    display: flex;
}
.text1{
    padding-top: 25px;
    text-align: center;
    font-size: small;
}
.text2{
    flex: 1.3;
    padding-top: 10px;
    font-size: small;
    font-weight: bold;
}
.text3{
    flex: 0.7;
    padding-top: 10px;
    font-size: small;
    color: blue;
}
.column3 button {
    width: 80px;
    text-align: left;
    margin-bottom: 0.9rem;
    font-size: 1rem;
    padding: 0.4rem;
    background-color: #1c76a0;
    color: white;
    border-radius: 0 10px 10px 0;
    border: 1px solid grey;
}  
.column3 button#home{
    margin: 60px 0px 14.5px;
} 
a button:hover {
    background-color: skyblue;
    color: blanchedalmond;
} 
h5{
    margin: 100px 0px 15px 5px;
}
/* Dropdown Button */
.dropbtn {
    background-color: whitesmoke;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.drop-content {
    display: none;
    position: absolute;
    background-color: gainsboro;
    min-width: 170px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.drop-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.drop-content a:hover {background-color: rgb(153, 153, 153); color: rgb(255, 255, 255);}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .drop-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(145, 195, 235); color: rgb(255, 255, 85);}