body{
    background-color: lightslategray;
    background-image: url("../static/images/pattern.png");
    background-size: 85px;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.bookcover{
    background-color: rgb(60, 175, 180);
    border-radius: 10px;
    border: 3px solid lightslategray;

    width: 1000px;
    height: 700px;

    margin: 150px 500px;

    position: relative;

}
.bookdot{
    position: absolute;
    margin: 13px;
    border: 3px dashed white;

    width: 970px;
    height: 670px;
}
.page{
    margin: 10px;
    width: 950px;
    height: 650px;
    border-radius: 10px;
    background-color: lightsteelblue;

}
.contanier{
    width: 930px;
    height: 630px;
    margin: 10px;
    display: flex;
}
.column1{
    display: flex;
    flex: 0.3;
    flex-direction: column;
}
.row1{
    flex: 1;
    background-color: white;
    margin: 10px 20px 10px 10px;
    border-radius: 10px;
    border: 2px solid lightsteelblue;
}
.column2{
    display: flex;
    flex: 0.6;
    flex-direction: column;
}
.row2{
    flex: 1;
    background-color: white;
    margin: 10px 0px;
    border-radius: 10px;
    border: 2px solid lightsteelblue;
}
.column3{
    flex: 0.1;
    margin: 10px 10px 10px 0px;
    border: 2px solid black;
}
.text-box{
    display: flex;
}
.text1{
    padding-top: 25px;
    text-align: center;
    font-size: small;
}
.text2{
    flex: 1.3;
    padding-top: 10px;
    font-size: small;
    font-weight: bold;
}
.text3{
    flex: 0.7;
    padding-top: 10px;
    font-size: small;
    color: blue;
}