.column2{
    display: flex;
    flex: 0.6;
    flex-direction: column;
}
.row2{
    overflow: auto;
}
.visit-contents{

    position: relative;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}
.visit-title{
    height: 35px;
    font-size: 15px;
    font-weight:700;
    line-height: 35px;
    background-color: rgb(177, 210, 255);
}
.visit-contain{
    display: flex;
}
.visit-img{
    flex: 0.6;
    background-size: cover; 
    width: 180px;
    height: 180px;
    margin: 20px;
    border-radius: 3px;

}
.visit-img > img {
    width: 130px;
    height: 130px;
    margin-left: 25px;
    margin-top: 30px;
}
.background1{
    background-image: url("./images/background1.jfif");
}
.background2{
    background-image: url("./images/background2.jfif");
}
.background3{
    background-image: url("./images/background3.jfif");
}
.visit-text{
    flex: 1;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 20px;
    font-weight: bold;
}
.visit-date{
    font-size: 11px;
    color: steelblue;
}